body{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fed;
	height: 100vh;
}

#container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button{
	margin-top:20px;
	background: none;
	background-color: grey;
	padding: 5px 32px;
	font-size: 24px;
	border-radius: 10px;
	color: white;
}

#grid{
	display: flex;
	background-color: whitesmoke;
	padding: 0;
	margin: 20px;
	box-shadow: 1px 1px 10px grey;
}

.grid-content{
	width: 40px;
	height: 40px;
	background-color: var(--background_color);
}



:root{
	--background_color : rgba(0, 0, 0, 0);
}
